<div class="grid">
  <div class="register__container">
    <div id="register__left" class="register__left">
      <p class="register__title">
        TẠO TÀI KHOẢN
      </p>
      <div class="register__social">

        <a href="" class="register__icon-link">
          <i class="fab fa-google register__icon"></i>
        </a>
        <a href="" class="register__icon-link">
          <i class="fab fa-facebook register__icon"></i>
        </a>
      </div>
      <p class="register__text">
        hoặc đăng kí với email:
      </p>
      <input type="text" class="register__input" placeholder="Email">
      <input type="text" class="register__input" placeholder="Password">
      <input type="text" class="register__input" placeholder="Confirm Password">
      <div class="register__button">
        <button id="register__button-continue" class="register__button-continue button">
          Tiếp Tục
        </button>
        <button class="register__button-login button">
          Đăng Nhập
        </button>
      </div>
      <div class="register__policy">
        <p>
          Bằng việc tiếp tục bạn đã chấp nhận
        </p>
        <a href="" class="register__policy-link">
          điều khoản sử dụng
        </a>
      </div>
    </div>
    <div id="register__confirm" class="register__confirm">
      <p class="register__title">
        TẠO TÀI KHOẢN
      </p>
      <div class="register__confirm-text">Một mã xác nhận đã được gửi về mail của bạn Vui lòng nhập mã xác nhận vào ô
        bên dưới để tiếp tục</div>
      <input type="text" class="register__confirm-input" placeholder="Mã xác nhận">
      <button id="register__button-continue--confirm" class="register__button-continue button">
        Tiếp Tục
      </button>
    </div>
    <div id="register__info" class="register__info">

      <p class="register__title">
        TẠO TÀI KHOẢN
      </p>
      <div class="register__info-name">
        <input id="register__info-name" type="text" placeholder="Tên của bạn">
      </div>
      <div class="register__info-phone">
        <input id="register__info-phone" type="text" placeholder="Số điện thoại">
        <button id="register__info-phone--btn">Gửi Mã</button>
      </div>
      <div id="register__info-confirm" class="register__info-confirm">
        <input id="register__info-confirm--input" type="text" placeholder="Mã xác nhận">
      </div>
      <div class="register__info-email">email@gmail.com</div>
      <div class="register__info-gender" id="register__info-gender">
        <div class="register__info-gender-choose">
          <p id="register__info-gender-choose">
            Giới tính
          </p>
          <img src="../../assets/svg/Arrow.svg" alt="">
        </div>
        <div id="register__info-gender-menu" class="register__info-gender-menu">
          <ul>
            <li id="register__info-gender-item-1" class="register__info-gender-item">Nam</li>
            <li id="register__info-gender-item-2" class="register__info-gender-item">Nữ</li>
            <li id="register__info-gender-item-3" class="register__info-gender-item">Khác</li>
          </ul>
        </div>
      </div>
      <!-- <select id="opt-type" name="" class="register__info-type-list" ng-change="showSelectValue(mySelect)">
                  <option id="opt-type-1" value="1" class="register__info-type-item" selected>Người dùng cá nhân</option>
                  <option id="opt-type-2" value="2" class="register__info-type-item">Doanh nghiệp vận chuyển</option>
              </select> -->
      <div id="register__info-type" class="register__info-type">
        <div class="register__info-type-choose">
          <p id="register__info-type-choose">
            Bạn là
          </p>
          <img src="../../assets/svg/Arrow.svg" alt="">
        </div>
        <div id="register__info-type-menu" class="register__info-type-menu">
          <ul>
            <li id="register__info-type-item-1" class="register__info-type-item">Người dùng cá nhân</li>
            <li id="register__info-type-item-2" class="register__info-type-item">Doanh nghiệp vận chuyển</li>
          </ul>
        </div>
      </div>
      <button id="register__info-btn" class="register__info-btn">Xác Nhận</button>

    </div>
    <div class="register__complete">
      <p class="register__title">
        TẠO TÀI KHOẢN
      </p>
      <div class="register__complete-text">
        Tài khoản của bạn được đăng ký thành công. Vui lòng đăng nhập để sử dụng dịch vụ của chúng tôi.
      </div>
      <button class="register__complete-btn">Tiếp Tục</button>
    </div>
    <div class="register__right">

      <img src="../../assets/svg/Logo.svg" alt="" class="register__img">

      <p class="register__slogan--1">
        GIA NHẬP CÙNG CHÚNG TÔI
      </p>
      <p class="register__slogan--2">
        Nhanh chóng
      </p>
      <p class="register__slogan--2">
        Tiện lợi
      </p>
      <p class="register__slogan--2">
        và An toàn
      </p>
    </div>
  </div>
</div>
