:root {

  --white-color: #fff;
  --black-color: #000;
  --text-color: #222;
  --primary-color: rgb(0, 170, 80);
  --border-color: #dbdbdb;
  --gold-star: #ffce3e;
  --navbar-height: 34px;
  --header-height: 120px;
  --header-with-search-height: calc(
    var(--header-height) - var(--navbar-height)
  );
}

* {
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  line-height: 1.6rem;
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
}

.grid {
  min-width: 1440px;
  min-height: 1024px;
  margin: 0 auto;
  background-color: #f6f7f8;
}

.grid__full-width {
  width: 100%;
}

.button {
  cursor: pointer;
}

.register__container {
  display: flex;
  position: absolute;
  left: 120px;
  right: 120px;
  top: 112px;
  bottom: 112px;
  min-width: 1200px;
  min-height: 800px;
  background: #ffffff;
  box-shadow: -2px 2px 20px -10px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
}

.register__left {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 60%;
  height: 100%;
  margin: 0;
  border-radius: 10px 0px 0px 10px;
}

.register__title {
  align-self: center;
  font-style: normal;
  font-weight: bold;
  font-size: 5.2rem;
  line-height: 62px;
  color: rgb(0, 170, 80);
  margin: 100px 0 20px 0;
}

.register__social {
  align-self: center;
}

.register__icon-link {
  text-decoration: none;
}

.register__icon {
  color: #000;
  font-size: 45px;
  margin: 0 15px 0 15px;
}

.register__text {
  font-size: 2.2rem;
  align-self: center;
  font-weight: 300;
  color: #555;
  margin: 60px 0 25px 0;
}

.register__input {
  outline: none;
  align-self: center;
  width: 520px;
  height: 60px;
  background: #f7f8f9;
  border: 2px solid #d4e2e7;
  box-sizing: border-box;
  border-radius: 10px;
  margin: 10px 0 10px 0;
  padding: 0 20px;
}

.register__input--error {
  border-color: red;
}
.register__input--error::after {
  content: "X";
}

.register__input::placeholder {
  opacity: 50%;
}

.register__button {
  align-self: center;
  margin-top: 55px;
}

.register__button-continue {
  border: none;
  font-weight: 500;
  font-size: 2.2rem;
  color: #fff;
  width: 238px;
  height: 65px;
  background: rgb(0, 170, 80);
  border-radius: 10px;
  margin-right: 20px;
}

.register__button-continue:hover {
  opacity: 90%;
}

.register__button-login {
  width: 238px;
  height: 65px;
  border: none;
  font-size: 2.2rem;
  font-weight: 500;
  color: rgb(0, 170, 80);
  background: #ffffff;
  border: 2px solid rgb(0, 170, 80);
  box-sizing: border-box;
  border-radius: 10px;
  margin-left: 21px;
}

.register__button-login:hover {
  opacity: 80%;
}

.register__policy {
  display: flex;
  font-size: 1.6rem;
  color: #666;
  align-self: center;
  margin-top: 30px;
}
.register__policy p {
  margin: 0 4px 0 0;
}

.register__policy a {
  color: rgb(0, 170, 80);
}

.register__right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
  height: 100%;
  width: 40%;
  right: 0;
  background: linear-gradient(180deg, #ffffff 0%, rgb(0, 170, 80) 100%);
  border-radius: 0px 10px 10px 0px;
}

.register__img {
  width: 478px;
  height: 299px;
  left: 840px;
  top: 213px;
  align-self: center;
  margin-bottom: 44px;
}

.register__slogan--1 {
  font-weight: bold;
  font-size: 32px;
  line-height: 37px;
  color: #fff;
  align-self: center;
}

.register__slogan--2 {
  margin: 0;
  align-self: center;
  color: #fff;
  font-weight: normal;
  font-size: 32px;
  line-height: 37px;
}

.register__confirm {
width: 100%;
display: flex;
flex-direction: column;
display: none;
}

.register__confirm > button {
margin: 0 37%;
}

.register__confirm-text {
font-weight: 300;
font-size: 24px;
line-height: 28px;
text-align: center;
color: #000000;
width: 490px;
height: 84px;
align-self: center;
margin-top: 65px;
margin-bottom: 150px;
}

.register__confirm-input {
width: 60%;
align-self: center;
background: #F7F8F9;
border: 2px solid #D4E2E7;
box-sizing: border-box;
border-radius: 10px;
height: 60px;
margin-bottom: 120px;
outline: none;
text-align: center;
font-size: 20px;
}

.register__confirm-input::placeholder {
font-size: 20px;
text-align: center;
}


.register__info{
display: flex;
flex-direction: column;
width: 100%;
display: none;
}

.register__info-name {
align-self: center;
width: 60%;
margin-top: 40px;
margin-bottom: 20px;
}

input::placeholder {
opacity: 60%;
}

.register__info-name > input {
  width: 100%;
  outline: none;
  height: 60px;
  background: #F7F8F9;
  border: 2px solid #D4E2E7;
  box-sizing: border-box;
  padding-left: 20px;
  font-size: 20px;
}

.register__info-phone {
display: flex;
align-self: center;
margin-bottom: 20px;
width: 60%;
}

.register__info-phone > input {
  width: 100%;
  outline: none;
  height: 60px;
  background: #F7F8F9;
  border: 2px solid #D4E2E7;
  box-sizing: border-box;
  padding-left: 20px;
  font-size: 20px;
}

.register__info-phone > button {
  width: 150px;
  height: 60px;
  background: #00AA50;
  border: none;
  font-size: 22px;
  line-height: 26px;
  font-weight: 500;
  color: #FFFFFF;
  display: none;
}

.register__info-phone > button:hover {
  opacity: 90%;
}

.register__info-confirm {
  align-self: center;
  width: 60%;
  height: 60px;
  margin-bottom: 20px;
  display: none;
}

.register__info-confirm > input {
  width: 100%;
  outline: none;
  height: 60px;
  background: #F7F8F9;
  border: 2px solid #D4E2E7;
  box-sizing: border-box;
  padding-left: 20px;
  font-size: 20px;
}

.register__info-email {
align-self: center;
background: #F7F8F9;
border: 2px solid #D4E2E7;
box-sizing: border-box;
width: 60%;
height: 60px;
font-weight: 500;
font-size: 18px;
padding-left: 20px;
line-height: 55px;
margin-bottom: 20px;
color: rgba(51, 51, 51, 0.7);
}

.register__info-gender {
position: relative;
align-self: center;
margin-bottom: 20px;
width: 60%;
cursor: pointer;
}

.register__info-gender-choose {
background: #FFFFFF;
border: 2px solid #D4E2E7;
box-sizing: border-box;
width: 100%;
height: 60px;
font-weight: 400;
font-size: 18px;
line-height: 55px;
padding: 0 20px;
color: rgba(0, 0, 0, 0.7);
display: flex;
justify-content: space-between;
}

.register__info-gender-choose > img {
width: 25px;
height: 25px;
align-self: center;
}

.register__info-gender-menu {
  position: absolute;
  width: 100%;
  display: none;
  z-index: 1;
}

.register__info-gender-menu > ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.register__info-gender-item {
  width: 100%;
  height: 60px;
  background-color: #FFF;
  border: 2px solid;
  border: 2px solid #D4E2E7;
  line-height: 55px;
  padding-left: 20px;
  font-weight: 500;
  font-size: 16px;
  cursor: pointer;
}

.register__info-gender-item:hover {
  background-color: #FAFAFA;
}

.register__info-gender-item:nth-child(2) {
  border-top: none;
  border-bottom: none;
  height: 58px;
}

.register__info-type {
position: relative;
align-self: center;
width: 60%;
cursor: pointer;
}


.register__info-type-choose {
background: #FFFFFF;
border: 2px solid #D4E2E7;
box-sizing: border-box;
width: 100%;
height: 60px;
font-weight: 400;
font-size: 18px;
line-height: 55px;
padding: 0 20px;
color: rgba(0, 0, 0, 0.7);
display: flex;
justify-content: space-between;
}

.register__info-type-choose > img {
width: 25px;
height: 25px;
align-self: center;
}

.register__info-type-menu {
  position: absolute;
  width: 100%;
  display: none;
}

.register__info-type-menu > ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.register__info-type-item {
  width: 100%;
  height: 60px;
  background-color: #FFF;
  border: 2px solid;
  border: 2px solid #D4E2E7;
  line-height: 55px;
  padding-left: 20px;
  font-weight: 500;
  font-size: 16px;
  cursor: pointer;
}

.register__info-type-item:hover {
  background-color: #FAFAFA;
}

.register__info-type-item:nth-child(2) {
  border-top: none;
  height: 59px;
}

.register__info-btn {
width: 238px;
height: 65px;
background: #00AA50;
border-radius: 10px;
border: none;
font-weight: 500;
font-size: 22px;
line-height: 26px;
color: #FFFFFF;
align-self: center;
margin-top: 50px;
}

.register__info-btn:hover {
  opacity: 90%;
}


.register__complete {
  display: flex;
  flex-direction: column;
  width: 100%;
  display: none;
}

.register__complete-text {
align-self: center;
width: 550px;
height: 114px;
font-size: 32px;
line-height: 37px;
text-align: center;
color: #000000;
margin: 150px 0 200px 0;
}

.register__complete-btn {
align-self: center;
width: 238px;
height: 65px;
background: #00AA50;
border-radius: 10px;
border: none;
font-size: 22px;
line-height: 26px;
font-weight: 500;
color: #FFFFFF;
}

.register__complete-btn:hover {
opacity: 90%;
}


